DATABASE_URL=postgresql+asyncpg://bookly_user:bookly_password@localhost:5434/bookly_db
JWT_SECRET=change_me
JWT_ALGORITHM=HS256

REDIS_URL=redis://localhost:6379/0

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_google_app_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=Bookly
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True

DOMAIN=http://127.0.0.1:8000